<div id="container">
    <div class="jumbotron">

        <h2>Gestione Magazzino</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <th>Nome Articolo</th>
            <th>Prezzo</th>
            <th>Tipo</th>
            <th>Disponibilita' </th>
            <th>Azioni </th>

        </thead>

        <tbody>
            <tr *ngFor="let articolo of articoli">
                <td>{{articolo.nomeArticolo}}</td>
                <td>{{articolo.prezzo}} &euro; </td>
                <td>{{articolo.tipoBottiglia}}</td>
                <td>{{articolo.disponibilita}}</td>
                <td>
                    <button class="btn btn-success custom-width" (click)="updateArticolo(articolo)">Modifica</button>
                    &nbsp;
                    <button class="btn btn-danger custom-width" (click)="deleteArticolo(articolo)">Cancella</button>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="well">
        <button class="btn btn-primary" (click)="newArticolo()">Nuovo Articolo</button>
    </div>
    <div class="modal" *ngIf="errore">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Errore</h4>
                </div>
                <div class="modal-body">
                    Attenzione, l'articolo non puo essere cancellato in quanto vi sono degli ordini correlati!!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="errore = false">Close</button>

                </div>
            </div>
        </div>

    </div>
</div>